body{}
h1{
    color:crimson;
text-align:center;
}
.title{
    collums: brown;
    text-align: center;
}
.space{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    
    
    
} 
.wrap{
  display: flex;
}
.link{
    color: rgb(188, 199, 40);
    border: 1px solid blueviolet;
    padding: 10px 20px;
    border-radius: 15px
}